#about-wrapper
  %header#about-page-header
    %hgroup
      %h1 About Me
  #p-wrapper
    %p
      John West is a freelance writer, designer, and musician. You can reach him by email at john.sheffield.west[at]gmail.com. This site was coded, painstakingly, by hand, and it uses open source fonts from 
      %a 
        The League of Moveable Type
      , viz., League Gothic and Sorts Mill Goudy.