#design-wrapper
  .design-thumb-wrapper
    %img.design-thumb{:src => "images/ibeo.png", "data-design" => "ibeo", "data-name" => "ich bin ein oberliner" }
  .design-thumb-wrapper  
    %img.design-thumb{ :src => "images/org.png", "data-design" => "org", "data-name" => "oberlin research group" }
  .design-thumb-wrapper
    %img.design-thumb{ :src => "images/ov.png", "data-design" => "ov", "data-name" => "oberlin videos" }
  .design-thumb-wrapper  
    %img.design-thumb{ :src => "images/tanwir.png", "data-design" => "tanwir", "data-name" => "oberlin tanwir" }
  .design-thumb-wrapper  
    %img.design-thumb{ :src => "images/wv.png", "data-design" => "wv", "data-name" => "wilder voice" }
  .design-thumb-wrapper  
    %img.design-thumb{ :src => "images/oil.png", "data-design" => "oil", "data-name" => "oil" }
  .design-thumb-wrapper  
    %img.design-thumb{ :src => "images/tahrir.png", "data-design" => "tahrir", "data-name" => "slouching toward tahrir" }
  .design-thumb-wrapper  
    %img.design-thumb{ :src => "images/sf.png", "data-design" => "sf", "data-name" => "studentframe" }
  %header#design-page-header
    %hgroup
      %h1 Design
  