#writing-wrapper
  %header#writing-page-header
    %hgroup
      %h1 Writing
  %ul#writing-menu
    %li.writing-menu-li{ "data-article-name" => "Texas Justice", "data-article-slug" => "texas_justice", "data-article-kicker" => "Wilder Voice", "data-article-link" => "http://wildervoice.org/articles/texas-justice-2/" } Texas Justice
    %li.writing-menu-li{ "data-article-name" => "Anonymous", "data-article-slug" => "anonymous", "data-article-kicker" => "Wilder Voice", "data-article-link" => "wildervoice.org/articles/anonymous/" } Anonymous
    %li.writing-menu-li{ "data-article-name" => "Tea and Sympathy", "data-article-slug" => "tea_and_sympathy", "data-article-kicker" => "Ich Bin Ein Oberliner", "data-article-link" => "http://oberliner.net/blog/?p=721" } Tea and Sympathy
    %li.writing-menu-li{ "data-article-name" => "The Newsies", "data-article-slug" => "the_newsies", "data-article-kicker" => "Oberlin Blogs", "data-article-link" => "http://blogs.oberlin.edu/community/life_culture/the_newsies.shtml" } The Newsies