<!doctype html>
%html
  %head
    %title John West
    %link{ :rel => "stylesheet", :href => "css/style.css", :style => "text/css" }
    %link{ :rel => "stylesheet", :href => "css/fonts.css", :style => "text/css" }
    %script{ :src => "js/jquery.js", :type => "text/javascript" }
    %script{ :src => "js/ui.js", :type => "text/javascript" }
    %script{ :src => "js/coffeescript.js", :type => "text/javascript" }
    %script{ :src => "js/intro_animation.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/nav.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/ajax_it.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/image_animation.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/design_animations.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/about_animations.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/animations.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/writing_animations.js.coffee", :type => "text/coffeescript" } 
    %script{ :src => "js/html5.js", :type => "text/javascript" }   
  %body
    %nav#primary-menu-wrapper
      %ul#primary-menu
        %li.primary-menu-li.ajax-li#about{ "data-page" => "about" } About
        %li.primary-menu-li.ajax-li#design{ "data-page" => "design" } Design
        %li.primary-menu-li.ajax-li#writing{ "data-page" => "writing" } Writing
        %li.primary-menu-li#blog
          %a{ :href => "http://oberliner.net/blog" } Blog
        %li.primary-menu-li#github
          %a{ :href => "https://github.com/jswest" }GitHub
    #content-wrapper
      #primary-image-wrapper
        %header#primary-header
          %hgroup
            %h1 John West
    